<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% if site.claimid_user & site.claimid_delegation %}
  <link href="http://openid.claimid.com/server" rel="openid.server"></link>
  <link href="http://openid.claimid.com/{{ site.claimid_user }}" rel="openid.delegate"></link>
{% endif %}
